@import url('https://api.fontshare.com/v2/css?f[]=cabinet-grotesk@400,500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #b8a898;
  color: #0c0c0b;
}
